arabic-reshaper
asgiref
asn1crypto
certifi
cffi
charset-normalizer
click
colorama
cryptography
cssselect2
Django
django-appconf
django-crispy-forms
django-imagefit
django-mathfilters
future
html5lib
idna
lxml
mysqlclient
oscrypto
Pillow
pycparser
pyHanko
pyhanko-certvalidator
PyMySQL
PyPDF3
python-bidi
pytz
pytz-deprecation-shim
PyYAML
qrcode
reportlab
requests
segno
six
sqlparse
svglib
tinycss2
tqdm
tzdata
tzlocal
uritools
urllib3
webencodings
xhtml2pdf
